#div1 {
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 30%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0 0 0; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0 0 -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

#button1 {
    position: absolute; /* position in the center of the screen */
    left: 55%;
    top: 50%;
}

#infostravaux {
    position: absolute; /* position in the center of the screen */
    left: 20%;
    top: 50%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}